body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #f5deb3;
}
button,
input,
select {
  border-color: grey;
  background-color: darkslategrey;
  color: wheat;
  cursor: pointer;
}

select:disabled {
  border-color: black;
  background-color: dimgray;
  color: black;
  cursor: pointer;
}

button:disabled {
  border-color: black;
  background-color: dimgray;
  color: black;
  cursor: pointer;
}

input:disabled {
  border-color: black;
  background-color: dimgray;
  color: black;
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
